[Unit]
Description=MACHENIKE keyboard backlight hotkeys daemon
After=multi-user.target

[Service]
Type=simple
ExecStartPre=/usr/bin/modprobe acpi_call
ExecStart=/usr/local/bin/machenike-hotkeysd
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
